.gradientContainer {
  display: grid;
  align-items: center;
  grid-template-columns: 20% 60% 20%;
  position: relative;
  outline: 1px solid #000;
  margin: 35px 70px;
}
.hexCode {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  margin: 10px;
}

.gradient {
  height: 200px;
}
@media (max-width: 767px) {
  .gradientContainer {
    width: 320px;
    margin: 30px auto;
  }
  .hexCode {
    font-size: 16px;
  }
}
.closeBtn {
  position: absolute;
  top: -15px;
  right: -15px;
}
.closeBtn button {
  background-color: #fff;
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  transition: all 0.6s ease;
  border-radius: 50%;
  color: #000;
}
.closeBtn button:hover {
  background-color: #000;
  color: #fff;
}
.closeBtn button:focus {
  outline: none;
}
button {
  cursor: pointer;
}
