* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body,
#root,
.App {
  height: 100%;
}
.App {
  display: grid;
  grid-template-rows: 60px 1fr 60px;
}

.form {
  display: flex;
  justify-content: space-around;
  padding: 0 20px;
}
.submitBtn {
  display: flex;
  justify-content: center;
}
@media (max-width: 767px) {
  .form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
